html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-overlay-wrapper {
  position: relative;
  min-height: 100vh;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 90, 30, 0.4);
  z-index: 0;
  pointer-events: none;
}

.app-content {
  position: relative;
  z-index: 1;
}
